<mat-dialog-content>
  <h1>{{team_name.value}}</h1>
  <form>
    <div class="container pb-2">
      <div class="col">
        <div class="row">
          <mat-form-field class="stretch">
            <input placeholder="Team Name" matInput [formControl]="team_name">
          </mat-form-field>
        </div>
        <div class="row stretch">
          <mat-button-toggle-group [formControl]="year" class="stretch">
            <mat-button-toggle (click)="this.status = 1" [checked]="this.status <= 1" class="stretch">Year 1
            </mat-button-toggle>
            <mat-button-toggle (click)="this.status = 2" [checked]="this.status > 1" class="stretch">Year 2+
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [matDialogClose]>Close</button>
  <button mat-raised-button color="primary" (click)="updateTeamInfo()">Update</button>
</mat-dialog-actions>
