.profile_picture {
  display: block;
  max-width:250px;
  max-height:250px;
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8.0px;
  //color: #5060bf;
}

.button-res {
  background-color: #5060bf;
  border-radius: 8.0px;
}
