<!-- Material form register -->
<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-">
      <!--<div style="height: 50vh">-->
        <mat-card>

          <mat-card-header>
            <mat-card-title>
              <strong>Sign in</strong>
            </mat-card-title>
          </mat-card-header>

          <!--Card content-->
          <mat-card-content class="px-lg-5 pt-2">

            <!-- Default form login -->
            <form (ngSubmit)="login()" class="text-center">

              <!-- Email -->
              <div class="col">
                <div class="row">
                  <mat-form-field class="fullWidth">
                    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="emailErrorMatcher" name="email">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Password -->
                <div class="row">
                  <mat-form-field class="fullWidth">
                    <input matInput placeholder="Password" type="password" [formControl]="passwordFC" [errorStateMatcher]="emailErrorMatcher">
                    <mat-hint>At least 8 characters and 1 digit</mat-hint>
                    <mat-error *ngIf="passwordFC.hasError('minLength') && !passwordFC.hasError('required')">
                      Please enter a password that is 8 or more characters
                    </mat-error>
                    <mat-error *ngIf="passwordFC.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="row pt-3">
                  <div class="d-flex justify-content-around">
                    <p></p>
                    <div>
                      <!-- Remember me -->
                      <mat-checkbox  matTooltip="Stay logged in for 30 days"
                                     [matTooltipPosition]="'after'"
                      [formControl]="rememberFC">Remember me</mat-checkbox>
                    </div>
                    <div class="pl-2">
                      <!-- Forgot password -->
                      <a href=""> Forgot password?</a>
                    </div>
                  </div>
                </div>

                <!-- Sign in button -->
                <button mat-raised-button color="primary" class="my-4 stretch p-1" type="submit" [disabled]="loggingIn">Sign in</button>

                <!-- Register -->
                <p>Not a member?
                  <a (click)="goToRegister()"> Register</a>
                </p>

                <!--&lt;!&ndash; Social login &ndash;&gt;-->
                <!--<p>or sign in with:</p>-->

                <a type="button" class="light-blue-text mx-2">
                  <!-- <i class="fa fa-facebook"></i> -->
                  <mdb-icon icon="facebook"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                  <!-- <i class="fa fa-twitter"></i> -->
                  <mdb-icon icon="twitter"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                  <!-- <i class="fa fa-linkedin"></i> -->
                  <mdb-icon icon="linkedin"></mdb-icon>
                </a>
                <a type="button" class="light-blue-text mx-2">
                  <!-- <i class="fa fa-github"></i> -->
                  <mdb-icon icon="github"></mdb-icon>
                </a>
              </div>

            </form>

          </mat-card-content>

        </mat-card>
      </div>
    <!--</div>-->
  </div>
</div>
<!-- Material form register -->
