<div *ngIf="privilegeGuard('admin')">
  <div class="d-flex flex-column justify-content-center mx-2">
    <mat-card class="mt-2" style="width: 100%;">
      <mat-card-header>
        <mat-card-title>
          Teams
        </mat-card-title>
        <div class="d-inline justify-content-end">
          <button mat-icon-button (click)="getTeamListFull()"><mat-icon>refresh</mat-icon></button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="teamsDataSource" class="mat-elevation-z8" style="width: 100% !important; overflow: auto">
          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Time Stamp</th>
            <td mat-cell *matCellDef="let element">{{element.timestamp}}</td>
          </ng-container>
          <ng-container matColumnDef="team_name">
            <th mat-header-cell *matHeaderCellDef>Team Name</th>
            <td  mat-cell *matCellDef="let element">{{element.team_name}}</td>
          </ng-container>
          <ng-container matColumnDef="team_number">
            <th mat-header-cell *matHeaderCellDef>Team Name</th>
            <td mat-cell *matCellDef="let element">{{element.team_number}}</td>
          </ng-container>
          <ng-container matColumnDef="school">
            <th mat-header-cell *matHeaderCellDef>School</th>
            <td mat-cell *matCellDef="let element">{{element.school_abr}}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
          </ng-container>

          <!--<ng-container matColumnDef="actions" *ngIf="displayActions">-->
          <!--<th mat-header-cell *matHeaderCellDef>-->
          <!--Actions-->
          <!--</th>-->
          <!--<td mat-cell *matCellDef="let row">-->
          <!--<button mat-button><mat-icon>edit</mat-icon></button>-->
          <!--</td>-->
          <!--</ng-container>-->

          <!--Checkbox Column -->
          <!--<ng-container matColumnDef="select">-->
            <!--<th mat-header-cell *matHeaderCellDef>-->
              <!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
                            <!--[checked]="selection.hasValue() && isAllSelected()"-->
                            <!--[indeterminate]="selection.hasValue() && !isAllSelected()">-->
              <!--</mat-checkbox>-->
            <!--</th>-->
            <!--<td mat-cell *matCellDef="let row">-->
              <!--<mat-checkbox (click)="$event.stopPropagation()"-->
                            <!--(change)="$event ? selection.toggle(row) : null"-->
                            <!--[checked]="selection.isSelected(row)"-->
                            <!--[value]="row.email">-->
              <!--</mat-checkbox>-->
            <!--</td>-->
          <!--</ng-container>-->

          <!--<ng-container matColumnDef="actions">-->
            <!--<th mat-header-cell *matHeaderCellDef>Actions</th>-->
            <!--<td mat-cell *matCellDef="let row">-->
              <!--<button mat-icon-button (click)="openEditUserDialog(row)"><mat-icon>edit</mat-icon></button>-->
              <!--<button mat-icon-button (click)="openRemoveUserConfirmationDialog(row.id)"><mat-icon>remove</mat-icon></button>-->
            <!--</td>-->
          <!--</ng-container>-->

          <tr mat-header-row *matHeaderRowDef="usersDisplayColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: usersDisplayColumn;"></tr>
        </table>
      </mat-card-content>
      <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div *ngIf="!globals.teams" class="container" style="height: 100%;">
  <div class="d-flex justify-content-center align-items-center" style="height: 70%;">
    <div class="display-2" style="color: #757575">
      No teams where found :(
    </div>
  </div>
</div>

<div class="d-flex m-3 justify-content-center mt-2">
  <h5 class="display-4" style="color: grey;">
    Teams:
  </h5>
</div>

<div *ngIf="globals.teams" class="d-flex flex-column justify-content-center mx-2">
  <mat-card *ngFor="let team of globals.teams" style="width: 100%" class="mt-2" routerLink="/dashboard/teams/team/{{team.team_number}}">
    <mat-card-content>
      <div class="d-flex flex-row">
        <img alt="team picture" src="../../../assets/icons/robot-machine-blue.svg" class="img rounded">
        <div class="d-flex flex-column align-self-center m-3">
          <h1 class="display-4">{{team.team_number}}</h1>
          <h3>{{team.team_name}}</h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
