<!-- Start your project here-->
<!--Main Navigation-->
<app-navigation></app-navigation>
<!--Main Navigation-->
<!--<router-outlet></router-outlet>-->

<!--Main Layout-->
<main class="text-center py-5 mt-3">
  <div style="height: 50vh">
    <div class="flex-center flex-column">
      <h1 class="animated fadeIn mb-4">Not Registered Yet?</h1>
      <h5 class="animated fadeIn mb-3">If you are a school that is currently with Under Water Robotics you can register a personal account just below</h5>
      <h6 class="animated fadeIn mb-3">If you are not with Under Water Robotics yet you can find out more about us at our website <a href="https://www.utahrov.org">utahrov.org</a></h6>
      <!--<p class="animated fadeIn text-muted">MDB Team</p>-->
    </div>
  </div>
  <!--<app-login></app-login>-->
  <app-sign-up></app-sign-up>
</main>
<!-- /Start your project here-->
