<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/dashboard/competition"><mat-icon>arrow_back</mat-icon></button>
    <span>Back</span>
    <div class="d-flex flex-row justify-content-center stretch">
      <h1>Competition Info</h1>
    </div>
    <div *ngIf="competition" class="ml-auto">
      <button *ngIf="this.roleGuard.privilegeGuard('admin')" (click)="updateRegistration()" mat-button>{{competition.registration_status === 'open' ? 'CLOSE REGISTRATION' : 'OPEN REGISTRATION'}}</button>
      <button *ngIf="competition.registration_status === 'open'" (click)="openRegistration()" mat-button>{{'Register Teams' | uppercase}}</button>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>




<div class="d-flex flex-column p-2">
  <mat-card *ngIf="competition" class="stretch p-2">
    <div class="d-flex flex-row justify-content-center">
      <h1 class="display-4">{{competition.name}}</h1>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2">
        <h5>Created: </h5>
        <h5>Starts: </h5>
        <h5>Ends: </h5>
        <h5>Status: </h5>
        <h5>Registration Status: </h5>
      </div>
      <div class="p-2">
        <h5>{{competition.timestamp}}</h5>
        <h5>{{competition.start}}</h5>
        <h5>{{competition.end}}</h5>
        <h5>{{competition.status}}</h5>
        <h5>{{competition.registration_status}}</h5>
      </div>
    </div>
  </mat-card>
  <div class="d-flex flex-row pt-2">
    <mat-card *ngIf="tasks" class="stretch mr-1">
      <h4>Actions</h4>
      <div *ngFor="let action of actions; let i = index">
        {{i}}. Name: {{action.name}}, Task_ID: {{action.task_id}}, Increment Value: {{action.increment_value}}
      </div>
    </mat-card>
    <mat-card *ngIf="actions" class="stretch ml-1">
      <h4>Tasks</h4>
      <div *ngFor="let task of tasks; let i = index">
        {{i}}. Name: {{task.name}}, Max Value: {{task.max_value}}
      </div>
    </mat-card>
  </div>
</div>
