<!-- Material form login -->
<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-">
      <div style="height: 75vh">
        <mat-card>

          <mat-card-header>
            <mat-card-title>
              <strong>Sign up</strong>
            </mat-card-title>
          </mat-card-header>

          <!--Card content-->
          <mat-card-content class="px-lg-5 pt-0">

            <!-- Default form register -->
            <form (ngSubmit)="onSubmit()" class="text-center">
              <div class="form-row mb-4">
                <div class="col">
                  <!-- First name -->
                  <!--<div class="md-form">-->
                  <!--<input type="text" id="defaultRegisterFormFirstName" [(ngModel)]="firstName" name="firstName" class="form-control">-->
                  <!--<label for="defaultRegisterFormFirstName">First name</label>-->
                  <!--</div>-->
                  <mat-form-field class="fullWidth">
                    <input matInput placeholder="First Name" [formControl]="firtNameFC" [errorStateMatcher]="emailErrorMatcher">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="firtNameFC.hasError('required')">
                      First name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <!-- Last name -->
                  <!--<div class="md-form">-->
                  <!--<input type="text" id="defaultRegisterFormLastName" [(gnModel)]="lastName" name="lastName" class="form-control">-->
                  <!--<label for="defaultRegisterFormLastName">Last name</label>-->
                  <!--</div>-->
                  <mat-form-field class="fullWidth">
                    <input matInput placeholder="Last Name" [formControl]="lastNameFC" [errorStateMatcher]="emailErrorMatcher">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="lastNameFC.hasError('required')">
                      Last name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- E-mail -->
              <!--<div class="md-form">-->
              <!--<input type="email" [(gnModel)]="email" id="defaultRegisterFormEmail" class="form-control">-->
              <!--<label for="defaultRegisterFormEmail">E-mail</label>-->
              <!--</div>-->
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="emailErrorMatcher" name="email">
                <mat-hint></mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <!-- Password -->
              <!--<div class="md-form">-->
              <!--<input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="defaultRegisterFormPassword" class="form-control" aria-describedby="defaultRegisterFormPasswordHelpBlock">-->
              <!--<label for="defaultRegisterFormPassword">Password</label>-->
              <!--<small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">At least 8 characters and 1 digit</small>-->
              <!--</div>-->
              <mat-form-field class="fullWidth">
                <input matInput placeholder="Password" type="password" [formControl]="passwordFC" [errorStateMatcher]="emailErrorMatcher">
                <mat-hint *ngIf="passwordFC.valid || (passwordFC.untouched)">At least 8 characters and 1 digit</mat-hint>
                <mat-error *ngIf="passwordFC.hasError('minLength') && !passwordFC.hasError('required')">
                  Please enter a password that is 8 or more characters
                </mat-error>
                <mat-error *ngIf="passwordFC.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="fullWidth">
                <input matInput placeholder="Confirm password" type="password" [formControl]="passworConfirmdFC" [errorStateMatcher]="emailErrorMatcher">
                <!--<mat-hint>At least 8 characters and 1 digit</mat-hint>-->
                <mat-error *ngIf="passworConfirmdFC.hasError('minLength') && !passworConfirmdFC.hasError('required')">
                  Please enter the same password as above
                </mat-error>
                <mat-error *ngIf="passworConfirmdFC.hasError('mismatch')">
                  Passwords must <strong>match</strong>
                </mat-error>
                <mat-error *ngIf="passworConfirmdFC.hasError('required')">
                  Passwords must <strong>match</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-stretch">
                <mat-select placeholder="School" [formControl]="schoolFC">
                  <mat-option>Select a school</mat-option>
                  <div *ngIf="schools">
                    <mat-option *ngFor="let on of schools" [value]="on.abr">{{on.school_name}}</mat-option>
                  </div>
                  <!--<mat-option [value]="data.abr">{{data.name}}</mat-option>-->
                </mat-select>
                <mat-error *ngIf="passwordFC.hasError('required')">
                  Please select the school you are representing
                </mat-error>
              </mat-form-field>
              <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                If you are not with us, send us an email to get your school registered
              </small>

              <div class="col-stretch">
                <!--<mat-form-field>-->
                  <!--<mat-select placeholder="Role" [formControl]="roleFC">-->
                    <!--<mat-option>Select your role</mat-option>-->
                    <!--<div *ngIf="roles">-->
                      <!--<mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>-->
                    <!--</div>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
                <h5>Role</h5>
                <mat-button-toggle-group [formControl]="roleFC" class="fullWidth">
                  <mat-button-toggle *ngFor="let role of roles" [value]="role" class="fullWidth">{{role}}</mat-button-toggle>
                </mat-button-toggle-group>
              </div>


              <!-- Sign up button -->
              <button mat-raised-button color="primary" class="my-4 stretch p-1" type="submit">Sign Up</button>
              <!--<button mat-raised-button color="primary">Sign in</button>-->


              <p></p>
                <mat-icon color="primary" svgIcon="facebook"></mat-icon>
              <a class="mx-2">
                <mat-icon svgIcon="slack"></mat-icon>
              </a>
              <a class="mx-2">
                <mat-icon svgIcon="linkedin"></mat-icon>
              </a>
              <a class="mx-2">
                <mat-icon svgIcon="github"></mat-icon>
              </a>
              <!--<a class="mx-2">-->
                <!--<mat-icon svgIcon="youtube"></mat-icon>-->
              <!--</a>-->

              <hr>

              <!-- Terms of service -->
              <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a> and
                <a href="" target="_blank">terms of service</a>. </p>

              <!-- Sign up -->
              <p>Already a member?
                <a routerLink="/login">Login</a>
              </p>

            </form>
            <!-- Default form register -->

          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>
</div>
